{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  Register
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-5">
        <h1>Register</h1>
        <form action="" method="post">
          {% csrf_token %}
          {{form|crispy}}
          <a style="display: inline-block; margin-top: 10px;" class="btn btn-primary" onclick="history.back()">Cancel</a>
          <input style="margin-top: 10px;" class="btn btn-success" type="submit" value="Register">
        </form>
      </div>
    </div>
  </div>
{% endblock content %}